<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Main">
    <div class="academic-profile-detail">
        <div class="mb-4">
            <f:link.action action="list" class="btn btn-outline-secondary btn-sm">
                &larr; Back to List
            </f:link.action>
        </div>

        <div class="row">
            <div class="col-md-4 text-center mb-4">
                <f:if condition="{person.mediaImage}">
                    <f:media file="{person.mediaImage}" width="300" class="img-fluid rounded mb-3" />
                </f:if>
                <h2 class="mb-2">
                    <f:if condition="{person.academicTitle}">{person.academicTitle.title} </f:if>{person.firstName}
                    {person.lastName}
                </h2>
                <div class="mb-3">
                    <f:if condition="{person.academicRank}">
                        <h4 class="text-primary">{person.academicRank.title}</h4>
                    </f:if>
                    <f:if condition="{person.primaryDepartment}">
                        <p class="h5 text-muted">{person.primaryDepartment.title}</p>
                    </f:if>
                </div>
                <p class="lead text-muted">{person.contactOffice}</p>
            </div>
            <div class="col-md-8">
                <ul class="nav nav-tabs mb-3" id="profileTabs" role="tablist">
                    <li class="nav-item">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#bio"
                            type="button">Biography</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#contact"
                            type="button">Contact</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#affiliations"
                            type="button">Affiliations</button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="bio">
                        <f:if condition="{person.biography}">
                            <div class="biography-content">
                                <f:format.html>{person.biography}</f:format.html>
                            </div>
                        </f:if>
                        <f:if condition="{person.biographyFilePdf}">
                            <div class="mt-4">
                                <a href="{person.biographyFilePdf.originalResource.publicUrl}" class="btn btn-primary"
                                    target="_blank">
                                    <i class="bi bi-file-earmark-pdf"></i> Download CV
                                </a>
                            </div>
                        </f:if>
                    </div>
                    <div class="tab-pane fade" id="contact">
                        <table class="table table-borderless">
                            <f:if condition="{person.contactEmail}">
                                <tr>
                                    <th style="width: 150px;">Email</th>
                                    <td><a href="mailto:{person.contactEmail}">{person.contactEmail}</a></td>
                                </tr>
                            </f:if>
                            <f:if condition="{person.phoneOffice}">
                                <tr>
                                    <th>Phone (Office)</th>
                                    <td>{person.phoneOffice}</td>
                                </tr>
                            </f:if>
                            <f:if condition="{person.phoneMobile}">
                                <tr>
                                    <th>Mobile</th>
                                    <td>{person.phoneMobile}</td>
                                </tr>
                            </f:if>
                            <f:if condition="{person.contactWebsite}">
                                <tr>
                                    <th>Website</th>
                                    <td><a href="{person.contactWebsite}" target="_blank">{person.contactWebsite}</a>
                                    </td>
                                </tr>
                            </f:if>
                            <f:if condition="{person.profileGoogleScholar}">
                                <tr>
                                    <th>Google Scholar</th>
                                    <td><a href="{person.profileGoogleScholar}" target="_blank">Link</a></td>
                                </tr>
                            </f:if>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:section>

</html>