<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<!--
    Course Backend List Template
    Shows Course list with Organization, Syllabus count
    
    Author: Ernedin Zajko <ezajko@root.ba>
-->
<f:layout name="Module" />

<f:section name="Content">
    <!-- Search Filter -->
    <!-- Custom Filter -->
    <f:render partial="Backend/Course/Filter"
        arguments="{filter: filter, availableCycle: availableCycle, availableCategories: availableCategories, availableFields: availableFields}" />

    <!-- Course List Table -->
    <f:render partial="Backend/Course/ListTable"
        arguments="{items: items, paginator: paginator, pagination: pagination, currentPage: currentPage, totalItems: totalItems, filter: filter, sort: sort, direction: direction}" />
</f:section>

</html>