<f:variable name="viewType" value="{settings.viewType -> f:or(alternative: 'Default')}" />
<f:variable name="entity" value="{entityType -> f:format.case(mode: 'capital')}" />

<f:render partial="Academic/Entities/{entity}/List/{viewType}"
    arguments="{items: items, settings: settings, detailPid: detailPid}" optional="true">
    <!-- Fallback if specific view type doesn't exist -->
    <f:render partial="Academic/Entities/{entity}/List/List"
        arguments="{items: items, settings: settings, detailPid: detailPid}" optional="true">
        <div class="alert alert-warning">
            Template partial "Partials/Academic/Entities/{entity}/List/{viewType}.html" (or fallback List/List.html) not
            found.
        </div>
    </f:render>
</f:render>