<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<!--
    Backend Course Filter - Normalized Design
    Author: Ernedin Zajko <ezajko@root.ba>
-->
<div class="card card-default mb-4">
    <div class="card-body">
        <f:form action="list" method="post" noCacheHash="true" class="row g-3 align-items-end">
            <!-- Search -->
            <div class="col-md-3">
                <label class="form-label" for="filter-search">Search</label>
                <f:form.textfield id="filter-search" name="filter[search]" value="{filter.search}"
                    placeholder="Title, Code..." class="form-control form-control-sm" />
            </div>

            <!-- Organization -->
            <div class="col-md-2">
                <label class="form-label" for="filter-organization">Organization</label>
                <f:form.select id="filter-organization" name="filter[organization]" options="{availableOrganizations}"
                    optionValueField="uid" optionLabelField="title" prependOptionLabel="All" prependOptionValue=""
                    value="{filter.organization}" class="form-select form-select-sm" />
            </div>

            <!-- Cycle -->
            <div class="col-md-2">
                <label class="form-label" for="filter-cycle">Cycle</label>
                <f:form.select id="filter-cycle" name="filter[study_cycle]" options="{availableCycle}"
                    optionValueField="uid" optionLabelField="title" prependOptionLabel="All" prependOptionValue=""
                    value="{filter.study_cycle}" class="form-select form-select-sm" />
            </div>

            <!-- Category -->
            <div class="col-md-2">
                <label class="form-label" for="filter-category">Category</label>
                <f:form.select id="filter-category" name="filter[course_category]" options="{availableCategories}"
                    optionValueField="uid" optionLabelField="title" prependOptionLabel="All" prependOptionValue=""
                    value="{filter.course_category}" class="form-select form-select-sm" />
            </div>

            <!-- Buttons -->
            <div class="col-md-3 d-flex gap-2">
                <f:form.submit value="Filter" class="btn btn-primary btn-sm" />
                <f:link.action action="list" class="btn btn-outline-secondary btn-sm">
                    <core:icon identifier="actions-close" size="small" /> Reset
                </f:link.action>
            </div>
        </f:form>
    </div>
</div>

</html>