<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="row row-cols-auto g-3 align-items-end mb-3">
    <f:form method="post" action="list" class="row row-cols-auto g-3 align-items-end">

        <!-- Search -->
        <div class="col">
            <label for="filter-search" class="form-label visually-hidden">Search</label>
            <div class="input-group">
                <span class="input-group-text">
                    <core:icon identifier="actions-search" />
                </span>
                <f:form.textfield name="filter[search]" value="{filter.search}" class="form-control"
                    placeholder="Search courses..." />
            </div>
        </div>

        <!-- Cycle -->
        <div class="col">
            <f:form.select name="filter[study_cycle]" options="{availableCycle}" value="{filter.study_cycle}"
                optionLabelField="title" optionValueField="uid" prependOptionLabel="All Cycles" prependOptionValue="0"
                class="form-select" />
        </div>

        <!-- Category -->
        <div class="col">
            <f:form.select name="filter[course_category]" options="{availableCategories}"
                value="{filter.course_category}" optionLabelField="title" optionValueField="uid"
                prependOptionLabel="All Categories" prependOptionValue="0" class="form-select" />
        </div>

        <!-- Field -->
        <div class="col">
            <f:form.select name="filter[scientific_field]" options="{availableFields}" value="{filter.scientific_field}"
                optionLabelField="title" optionValueField="uid" prependOptionLabel="All Fields" prependOptionValue="0"
                class="form-select" />
        </div>

        <!-- Actions -->
        <div class="col">
            <f:link.action action="list" class="btn btn-default" title="Reset">
                <core:icon identifier="actions-refresh" />
            </f:link.action>
            <f:form.submit value="Filter" class="btn btn-primary" />
        </div>

    </f:form>
</div>

</html>